---
const { translations, isRTL } = Astro.props;
import config from "../constants/config";
import En from "./icons/En.astro";
import Fa from "./icons/Fa.astro";
import Github from "./icons/Github.astro";
const otherLangPath = isRTL ? "/" + config.name : `/${config.name}/fa`;
const langPath = isRTL ? `/${config.name}/fa` : "/" + config.name;
---

<header
  class="fixed top-0 w-full bg-white/90 backdrop-blur-md z-50 border-b border-gray-200"
>
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href={langPath}>
      <div
        class="flex items-center gap-3"
        class:list={[isRTL ? "space-x-reverse" : ""]}
      >
        <img
          src={"/" + config.name + "/favicon.svg"}
          alt="Shecan DNS Logo"
          class="h-8 w-8 animate-spin"
        />
        <span class="text-xl font-bold text-primary">
          {translations.nav.title}
        </span>
      </div>
    </a>

    <div
      class="flex items-center gap-3"
      class:list={[isRTL ? "space-x-reverse" : ""]}
    >
      <nav
        class="hidden md:flex space-x-6"
        class:list={[isRTL ? "space-x-reverse" : ""]}
      >
        <a
          href="https://github.com/raminsharifian/shecan.ir-linux.binding/"
          class="text-gray-700 hover:text-primary transition-colors"
          target="_blank"
        >
          <Github />
        </a>
      </nav>
      <a href={otherLangPath} title={translations.nav.switchLang}>
        {isRTL ? <En /> : <Fa />}
      </a>
    </div>
  </div>
</header>

<style>
  .animate-spin {
    animation: spin 8s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
